.weatherForecast-item {
    padding: 10px; /* Adjust the padding as needed */
}

#forecastRow .col {
    margin-bottom: 10px; /* Adjust the margin as needed */
}

*,
*::before,
*::after {
  box-sizing: content-box;
}